<div id="<%= dom_id issue %>">
  <p>
    <strong>Url:</strong>
    <%= issue.url %>
  </p>

  <p>
    <strong>Repository url:</strong>
    <%= issue.repository_url %>
  </p>

  <p>
    <strong>Labels url:</strong>
    <%= issue.labels_url %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= issue.id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= issue.number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= issue.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= issue.user %>
  </p>

  <p>
    <strong>User avatar:</strong>
    <%= issue.user_avatar %>
  </p>

  <p>
    <strong>User url:</strong>
    <%= issue.user_url %>
  </p>

  <p>
    <strong>State:</strong>
    <%= issue.state %>
  </p>

  <p>
    <strong>Locked:</strong>
    <%= issue.locked %>
  </p>

  <p>
    <strong>Current assignee:</strong>
    <%= issue.current_assignee %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= issue.comments %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= issue.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= issue.updated_at %>
  </p>

  <p>
    <strong>Closed at:</strong>
    <%= issue.closed_at %>
  </p>

  <p>
    <strong>Author association:</strong>
    <%= issue.author_association %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= issue.body %>
  </p>

  <p>
    <strong>Positive reactions:</strong>
    <%= issue.positive_reactions %>
  </p>

  <p>
    <strong>Negative reactions:</strong>
    <%= issue.negative_reactions %>
  </p>

</div>
